{% extends "base.html" %}

{% block title %}Portfolio{% endblock title %}

{% block content %}

<h1>Vrlo dobro kodiranje i neki primjeri:</h1>

    <ul>
        <li><a href="https://gist.github.com/renatodjurdjevic/0de667a00532ecb6704b6d8bd2b29309">Fakebook</a>
        <li><a href="https://gist.github.com/renatodjurdjevic/9c175d448cab9867767574827c09d452">Boogle</a></li>
        <li><a href="https://gist.github.com/renatodjurdjevic/1f9e8105d967c0c9cd9fb2fdcb4d3ecf">Hairsaloon</a></li>
    </ul>

<p>Datum: {{date}} Sat: {{hour}}</p>

{% endblock content %}
